body{

}

#banner {
        width:100%;
}

.principal{
         background: #CCCCCC;
         padding: 30px;

}

h1 {
         text-aling: center

}

p {
         text-aling: center;

}

#missao {
       font-size: 20px;

}

em strong {
        color: #Ff0000;

}

.itens {
        font-size: italic

}

.beneficios {
           background
}

h2 {
           text-aling: center;
}
ul {
           display: inline-block;
           vertical-aling: top;
           width: 20%
           margin-right: 15%
}

.imagembeneficios {
       width: 50%
}
